body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  /* min-height: 100vh; */

  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;

  list-style: none;
  white-space: nowrap;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.intro {
  padding: 16px 256px;

  background-color: #1F2937;
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: center;

  gap: 256px;
} 

.header-center {
  flex: 1 3 auto;
}

.subheader {
  display: flex;
  justify-content: center;

  padding: 128px 0px;
}

button.signup {
  padding: 0px 24px;
  border-radius: 8px;
  background: royalblue;
  border: 10px solid royalblue;
  color: white;

  

  font-size: 12px;
}

.subheader-title {
  font-size: 48px;
  font-weight: bolder;

  padding-right: 32px;
}

.subheader-text {
  font-size: 18px;
  color: #E5E7EB;
}

.subheader-right {
  padding-left: 16px;
}

.img {
  /* height: auto;
  width: auto\9; ie8 */

  max-width: 500px;
  min-width: 300px;
  min-height: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  padding: 64px 256px;
  gap: 32px;
}

.con-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  gap: 32px;
}

.container {
  display: flex;
  
  justify-content: center;
  align-items: center;

  text-align: center;
}

.con-title {
  white-space: nowrap;

  display: flex;
  justify-content: center;
}

.con-title-title {
  font-size: 36px;
  color: #1F2937;
}

.info {
  flex-wrap: wrap;
  max-width: 200px;
}

.con-img {
  width: 150px;
  height: 150px;

  border: 5px solid #3882F6;
  border-radius: 16px;
}

.quote {
  display: flex;
  flex: 1 1 auto;
  /* justify-content: center; */
  padding: 0px 256px;

  background-color: #E5E7EB;
}

.quote-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  /* justify-content: center; */
  /* align-items: right; */

  flex-wrap: wrap;
  padding: 32px 0px;
  gap: 16px;
}

.quote-title {
  /* padding: 32px 0px 0px 0px; */
  font-size: 36px;
  min-width: 500px;
  max-height: 300px;

  font-weight: lighter;
  text-align: left;
}

.quote-author {

  text-align: right;
  font-size: 24px;
}

.modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 64px 256px;
}


.modal-popup {
  background: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);

  display: flex;
  /* flex-direction: column; */
  /* gap: 16px; */

  /* min-width: 1000px; */
  


  padding: 32px 100px;  
}

.modal-container {
  display: flex;
  flex-direction: column;

  white-space: nowrap;
}

button.modal-signup {
  padding: 0px 24px;
  border-radius: 8px;
  background: royalblue;
  border: 1px solid #F9FAF8;
  color: #F9FAF8;

  font-size: 12px;
  margin: 0px 24px;
}

.modal-header {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.modal-text {
  text-align: left;
  font-size: 18px;
}