body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;

  list-style: none;
  white-space: nowrap;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.intro {
  padding: 16px 256px;

  background-color: #1F2937;
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: center;

  gap: 256px;
} 

.header-center {
  flex: 1 3 auto;
}

.subheader {
  display: flex;
  justify-content: center;
  /* flex: 1 1 auto; */


  padding: 128px 0px;
}

/* .subheader-left {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
} */

button.signup {
  padding: 0px 24px;
  border-radius: 8px;
  background: royalblue;
  border: 10px solid royalblue;
  color: white;

  

  font-size: 12px;
}

.subheader-title {
  font-size: 48px;
  font-weight: bolder;

  padding-right: 32px;
}

.subheader-text {
  font-size: 18px;
  color: #E5E7EB;
}

.subheader-right {
  padding-left: 16px;
}

.img {
  /* height: auto;
  width: auto\9; ie8 */

  max-width: 500px;
  min-width: 300px;
  min-height: 250px;
}

.content {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
  
  gap: 52px;
}

.container {
  display: flex;
  
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 52px;
}

.quote {
  display: flex;
  flex: 1 1 auto;

  background-color: #E5E7EB;
}

/* .header {
  height: 72px;
  background: darkmagenta;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;

  flex-shrink: 0;
  padding: 16px;
} */

/* reused code */
/* .card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  padding: 16px;
  margin: 16px;
  width: 300px;
} */

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.container {
  display: flex;
  flex-wrap: wrap;
} */